html,
body {
  font-family: SF Pro Text;
  font-weight: 400px;
  margin: 0;
  padding: 0;
  background-color: #f3f5fe;
}

.line-container {
  position: relative;
  margin-top: 30px;
}

.line {
  width: 100%;
  border: none;
  border-top: 2px solid lightgrey;
  /* Adjust the style of the line */
}

.middle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f3f5fe;
  /* Adjust background color to match your page */
  padding: 0 10px;
  /* Adjust padding as needed */
  color: grey;
}

#login {
  width: 500px;
  height: 500px;
  margin-left: 10px;
  text-align: center;
}

#text,
#login {
  display: inline-block;
  vertical-align: top;
  /* to align them at the top */
  text-align: center;
}

#text {
  text-align: center;
}

.box {
  text-align: center;
  margin-left: 100px;
  margin-top: 170px;
}

.gmg {
  width: 500px;
  height: 50px;
  border-radius: 10px;
  border-color: lightgrey;
  background-color: #f3f5fe;
  border: 1.5px solid #808080;
}

input {
  width: 500px;
  height: 30px;
  background-color: #f3f5fe;
  border: 1.5px solid #808080;
  border-radius: 10px;
  margin-top: 10px;
}

#login-text {
  color: grey;
  margin-top: px;
}

#Send-code {
  width: 500px;
  height: 50px;
  background-color: #7247ef;
  border-radius: 10px;
  border: 1px solid grey;
  color: white;
}

/* Add this CSS to create the blur effect */
